$primary-color: #654321;

.seminars-container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .filters-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

    .name-filter {
      display: flex;
      align-items: center;
    }
  }

  .seminars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .seminar {
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      .img-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: 100%;
        }
      }

      .text-container {
        width: 90%;

        .titles {
          width: 100%;
          display: flex;
          flex-direction: column;

          .name {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 2rem;
            font-weight: 600;
            margin: 0.8rem 0 0 0;
            text-decoration: underline;
            color: $primary-color;
          }

          .location {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 1rem;
          }
        }

        .info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .text {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0.2rem;
            margin-top: 0;
            color: $primary-color;

            span {
              color: black;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
